<!DOCTYPE html>
<html lang="<%= config.language %>">
<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/header') %>
  <div class="empty-body">
    <%- partial('_partial/leftMenu') %>
    <%- body %>
  </div>
</body>
</html>
